
    #hdg {
    font-family: 'Mabry';
    color: 	#373737;
    font-size: 50px;
  }

  #subtitle {
    font-family: 'Apoc';
    font-weight: 500;
    color: 	#373737;
    font-size: 40px;
    position:absolute;top:20;left:10
  }

  #frame{
    position:absolute;top:250;left:340;

  }

  #logo{
    position:absolute;top:30;left:40;
  }

  #link1 {
    font-family: 'Cooper Black';
    color: 	#373737;
    font-size: 25px;
    position:absolute;top:300;left:30;
  }

  #link2 {
    font-family: 'Cooper Black';
    color: 	#373737;
    font-size: 25px;
    position:absolute;top:350;left:30;
  }

  .button1 {
    font-family: 'Mabry';
    font-weight: 500;
    border-radius: 4px;
      background-color: #373737;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    position:absolute;top:250;left:40;
}

.button1 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button1 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button1:hover span {
padding-right: 25px;
}

.button1:hover span:after {
opacity: 1;
right: 0;

}

.button2 {
    font-family: 'Mabry';
    font-weight: 500;
    border-radius: 4px;
      background-color: #373737;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    position:absolute;top:300;left:40;
}

.button2 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button2 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button2:hover span {
padding-right: 25px;
}

.button2:hover span:after {
opacity: 1;
right: 0;

}


.button3 {
    font-family: 'Mabry';
    font-weight: 500;
    border-radius: 4px;
      background-color: #373737;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    position:absolute;top:350;left:40;
}

.button3 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button3 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button3:hover span {
padding-right: 25px;
}

.button3:hover span:after {
opacity: 1;
right: 0;

}

.button4 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:400;left:40;
}

.button4 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button4 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button4:hover span {
padding-right: 25px;
}

.button4:hover span:after {
opacity: 1;
right: 0;

}
.button1 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:250;left:40;
}

.button5 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button5 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button5:hover span {
padding-right: 25px;
}

.button5:hover span:after {
opacity: 1;
right: 0;

}
.button1 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:250;left:40;
}

.button6 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button6 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button6:hover span {
padding-right: 25px;
}

.button6:hover span:after {
opacity: 1;
right: 0;

}
.button1 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:250;left:40;
}

.button7 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button7 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button7:hover span {
padding-right: 25px;
}

.button7:hover span:after {
opacity: 1;
right: 0;

}
.button8 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:450;left:40;
}

.button8 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button8 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button8:hover span {
padding-right: 25px;
}

.button8:hover span:after {
opacity: 1;
right: 0;

}

.button9 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:500;left:40;
}

.button9 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button9 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button9:hover span {
padding-right: 25px;
}

.button9:hover span:after {
opacity: 1;
right: 0;

}

.button10 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:550;left:40;
}

.button10 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button10 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button10:hover span {
padding-right: 25px;
}

.button10:hover span:after {
opacity: 1;
right: 0;

}

.button11 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:600;left:40;
}

.button11 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button11 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button11:hover span {
padding-right: 25px;
}

.button11:hover span:after {
opacity: 1;
right: 0;

}

.button12 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:650;left:40;
}

.button12 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button12 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button12:hover span {
padding-right: 25px;
}

.button12:hover span:after {
opacity: 1;
right: 0;

}

.button13 {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  position:absolute;top:700;left:40;
}

.button13 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button13 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button13:hover span {
padding-right: 25px;
}

.button13:hover span:after {
opacity: 1;
right: 0;

}


.buttonA {
  font-family: 'Mabry';
  font-weight: 500;
  border-radius: 4px;
    background-color: #373737;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  
}

.buttonA span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buttonA span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.buttonA:hover span {
padding-right: 25px;
}

.buttonA:hover span:after {
opacity: 1;
right: 0;

}
